<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<!-- <title> minimal test </title> -->
	<script src="/assets/js/rotodrag.js"></script>
</head>
<body>
<svg id="diagram" class="draggables"
	 viewbox="0 0 200 200" width="200" height="200"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Astrolabe Plate Grid</title>
    <g id="astrolabe" transform="translate(100, 100)">
	<defs>
		<style type="text/css">
			#astrolabe {
				display: block;
				stroke: {{ stroke_color }};
				stroke-width: 0.5;
				fill: none;
			}
			.description {
				stroke: none;
				fill: {{ stroke_color }};
				font-size: 6px;
			}
			.tropics {
				stroke: lightGrey;
				stroke-width: 0.5;
				fill: none;
			}
			.axis {
				stroke: lightGrey;
				stroke-width: 0.5;	
				fill: none;			
			}
		</style>

		<clipPath id="capricorn">
			<path id="capricornPath" d="
					M0 {{ RCapricorn }}
					A{{ RCapricorn }} {{ RCapricorn }} 0 0 1 0 {{ -RCapricorn }}
					A{{ RCapricorn }} {{ RCapricorn }} 0 0 1 0 {{ RCapricorn }}z"/>
		</clipPath>

		<clipPath id="horizon">
			<path id="horizonPath" d="
					M{{ horiz.cx }} {{ horiz.cy + horiz.r }} 
					A{{ horiz.r }} {{ horiz.r }} 0 0 1 {{ horiz.cx }} {{ horiz.cy - horiz.r }}
					A{{ horiz.r }} {{ horiz.r }} 0 0 1 {{ horiz.cx }} {{ horiz.cy + horiz.r }}z
				"/>
		</clipPath>

		<symbol id="plateGrid" viewbox="0 0 7247 3651.2" style="outline: 1px solid blue">
			<title>Plate Grid</title>
			<defs>
				<style type="text/css">
					#pg_arcs {
						stroke: {{ stroke_color }};
						stroke-width: 0.5;
						fill: none;
						clip-path: url(#pg_capricorn);
						overflow: visible;
					}
					#pg_horizon {
						stroke: {{ stroke_color }};
						stroke-width: 0.5;
						fill: {{ fill_color }};
					}
					.pg_capricorn {
						stroke: {{ stroke_color }};
						stroke-width: 0.5;
						fill: none;
						clip-path: url(#pg_horizon);
						overflow: visible;
					}
					.pg_azimuth {
						stroke: {{ stroke_color }};
						stroke-width: 0.5;
						fill: none;
						clip-path: url(#pg_horizon);
						overflow: visible;
					}
					#pg_azimuths {
						clip-path: url(#pg_capricorn);
						overflow: visible;
					}
					.pg_almucantar {
						stroke: {{ stroke_color }};
						stroke-width: 0.5;
						fill: none;
						clip-path: url(#pg_capricorn);
						overflow: visible;
					}
				</style>

				<clipPath id="pg_capricorn">
					<path id="pg_capricornPath" d="
							M0 {{ RCapricorn }}
							A{{ RCapricorn }} {{ RCapricorn }} 0 0 1 0 {{ -RCapricorn }}
							A{{ RCapricorn }} {{ RCapricorn }} 0 0 1 0 {{ RCapricorn }}z"/>
				</clipPath>

				<clipPath id="pg_horizon">
					<path id="pg_horizonPath" d="
							M{{ horiz.cx }} {{ horiz.cy + horiz.r }} 
							A{{ horiz.r }} {{ horiz.r }} 0 0 1 {{ horiz.cx }} {{ horiz.cy - horiz.r }}
							A{{ horiz.r }} {{ horiz.r }} 0 0 1 {{ horiz.cx }} {{ horiz.cy + horiz.r }}z
						"/>
				</clipPath>
			</defs>

			<g id="pg_arcs" transform="translate(100, 100), scale(1, -1)">
				<title>Astrolabe Plate Grid</title>

				<g id="pg_horizon">
					<title>Horizon</title>
					<use xlink:href="#pg_horizonPath" />
				</g>

				<g id="pg_azimuths">
					<title>Azimuths</title>
					<desc>Circles of constant azimuth.</desc>
					{% for coord in azimuth_coords %}
						<circle class="pg_azimuth"
								cx="{{ coord.cx }}" 
								cy="{{ coord.cy }}" 
						        r="{{ coord.r }}"/>
					{%- endfor %}
					<line class="pg_azimuth" x1="0" y1="{{ -RCapricorn }}" 
										  x2="0" y2="{{ RCapricorn }}"/>
				</g>

				<g id="pg_almucantars">
					<title>Almucantars</title>
					<desc>Circles of constant altitude.</desc>
					{% for coord in almucantar_coords %}
						<circle class="pg_almucantar"  
								cx="{{ coord.cx }}" 
								cy="{{ coord.cy }}" 
						        r="{{ coord.r }}"/>
					{%- endfor %}
				</g>
				<g id="pg_capricorn">
					<circle class="pg_capricorn" 
							cx="0" cy="0" 
							r="{{ RCapricorn }}"/>
				</g>
			</g>	
		</symbol>

		<symbol id="star" viewBox="0 0 106.57 106.57" style="fill: #f5ac27;">
		    <title>star</title>
		    <polygon points="48.37 61.63 3.43 55 48.37 48.37 55 3.43 61.63 48.37 106.57 55 61.63 61.63 55 106.57 48.37 61.63"/>
		</symbol>

		<symbol id="ecliptic" viewbox="0 0 200 200"> <!-- style="overflow: visible" --> 
			<title>Ecliptic</title>
			<g id="e_rete" transform="translate(100, 100)">
				<defs>
				  <style type="text/css">
				  	@font-face {
						font-family: 'IM Fell Great Primer SC', serif;
						src: https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer+SC;
						<!-- src: local(IM FELL Double Pica PRO); -->
					}
					#e_eclipticDiagram {
					  fill: {{ ecliptic_stroke_color }}
					  fill-opacity: 1;
					  stroke: {{ stroke_color }}
					  stroke-width: 0.7;
					  stroke-opacity: 0.7;
					  clip-path: url(#e_eclipticHole);
					}
					.e_eclipticDivision, #e_ariesFirstPoint {
					  stroke: {{ ecliptic_stroke_color }};
					  stroke-width: 1;
					  stroke-opacity: 1;
					}
					.e_eclipticDivisionFine {
					  stroke: {{ ecliptic_stroke_color }};
					  stroke-width: 0.6;
					  stroke-opacity: 0.6;
					}
					.e_eclipticDivisionExtraFine {
					  stroke: {{ ecliptic_stroke_color }};
					  stroke-width: 0.4;
					  stroke-opacity: 0.4;
					}
					.e_seasonalArc {
					  stroke:none; 
					  fill:black; 
					  fill-opacity:1; 
					  font-family: 'IM Fell Great Primer SC', serif; 
				  	  font-variant: small-caps;
					  font-size:4pt;
					}
				  </style>
				  <clipPath id="e_eclipticBoundary">
					<path id="e_eclipticArc" fill-rule="evenodd" d="
						M{{ top_middle_outer.x }} {{ top_middle_outer.y }}
						A{{ outer_radius }} {{ outer_radius }} 0 1 0 {{ bottom_middle_outer.x }} {{ bottom_middle_outer.y }}
						A{{ outer_radius }} {{ outer_radius }} 0 1 0 {{ top_middle_outer.x }} {{ top_middle_outer.y }}z"/>
				  </clipPath>

				  <clipPath id="e_eclipticHole">
					<path id="e_eclipticHolePath" fill-rule="evenodd" d="
						M{{ top_middle_outer.x }} {{ top_middle_outer.y }}
						A{{ outer_radius }} {{ outer_radius }} 0 0 1 {{ bottom_middle_outer.x }} {{ bottom_middle_outer.y }}
						A{{ outer_radius }} {{ outer_radius }} 0 0 1 {{ top_middle_outer.x }} {{ top_middle_outer.y }}z
						M{{ top_middle_inner.x }} {{ top_middle_inner.y }}
						A{{ inner_radius }} {{ inner_radius }} 0 1 0 {{ bottom_middle_inner.x }} {{ bottom_middle_inner.y }}
						A{{ inner_radius }} {{ inner_radius }} 0 1 0 {{top_middle_inner.x }} {{ top_middle_inner.y }}z"/>
				  </clipPath>

				  {% for arc in seasonal_arcs %}
					<path id="e_{{ arc.tag }}" d="
						M{{ arc.start_x }} {{ arc.start_y }}
						A{{ arc.r }} {{ arc.r }} 0 0 1 {{ arc.end_x }} {{ arc.end_y }}"/>
				  {%- endfor %}	  
				</defs>

				<g id="e_reteBackground"
				   transform="translate({{ ecliptic.cx }} , {{ ecliptic.cy }})">

					<circle cx="0" cy="0" r="{{ ecliptic.r }}" 
						    style="fill:{{ ecliptic_stroke_color }}; 
						           fill-opacity:0.05; 
						           stroke:{{ ecliptic_stroke_color }};"/>
					<line id="e_ariesFirstPoint" x1="{{ aries_first_point.x2 }}" 
					                           y1="{{ -ecliptic.cy }}" 
					                           x2="{{ -RCapricorn }}" 
					                           y2="{{ -ecliptic.cy }}"/>

					<g id="e_seasonalArcs">
					{% for arc in seasonal_arcs %}
						<text class="e_seasonalArc" text-anchor="end" 
							transform="translate({{ -ecliptic.cx }} , {{ -ecliptic.cy }})">
							<textPath xlink:href="#{{ arc.tag }}" letter-spacing="1px" startOffset="90%">
								<tspan dy="2em" >{{ arc.name }}</tspan>
							</textPath>
						</text>
					{%- endfor %}
					</g>
				</g>

				<g id="e_eclipticDiagram">
			    	<title>Ecliptic</title>
					<!-- <path id="eclipticPath" fill-rule="evenodd" d="
						M{{ top_middle_outer.x }} {{ top_middle_outer.y }}
						A{{ outer_radius }} {{ outer_radius }} 0 0 1 {{ bottom_middle_outer.x }} {{ bottom_middle_outer.y }}
						A{{ outer_radius }} {{ outer_radius }} 0 0 1 {{ top_middle_outer.x }} {{ top_middle_outer.y }}z
						M{{ top_middle_inner.x }} {{ top_middle_inner.y }}
						A{{ inner_radius }} {{ inner_radius }} 0 0 1 {{ bottom_middle_inner.x }} {{ bottom_middle_inner.y }}
						A{{ inner_radius }} {{ inner_radius }} 0 0 1 {{top_middle_inner.x }} {{ top_middle_inner.y }}z"/> -->

				    <g id="e_eclipticDivisions">
				        <title>Divide Ecliptic</title>
				        
				        {% for division in ecliptic_divisions %}
				            <line class="e_eclipticDivision" x1="0" y1="0" x2="{{ division.x2 }}" y2="{{ division.y2 }}"/>
				        {%- endfor %}

				        {% for division in ecliptic_divisions_fine %}
				            <line class="e_eclipticDivisionFine" x1="0" y1="0" x2="{{ division.x2 }}" y2="{{ division.y2 }}"/>
				        {%- endfor %}

				        {% for division in ecliptic_divisions_extra_fine %}
				            <line class="e_eclipticDivisionExtraFine" x1="0" y1="0" x2="{{ division.x2 }}" y2="{{ division.y2 }}"/>
				        {%- endfor %}
				    </g>
				    
	  			</g>

	  			<!-- <g>
	  				<line id="eclipticPole" x1="-5" y1="{{ ecliptic_pole }}" x2="5" y2="{{ ecliptic_pole }}" style="stroke: grey;"/>
					<line id="eclipticPole" x1="0" y1="{{ ecliptic_pole -5 }}" x2="0" y2="{{ ecliptic_pole + 5 }}" style="stroke: grey;"/>
	  			</g> -->

				<!-- <g>
	  				<line id="eclipticCenter" x1="-50" y1="{{ ecliptic.cy }}" x2="50" y2="{{ ecliptic.cy }}" style="stroke: grey; stroke-width:0.5;"/>
					<line id="eclipticCenter" x1="0" y1="{{ ecliptic.cy - 50 }}" x2="0" y2="{{ ecliptic.cy + 50}}" style="stroke: grey; stroke-width:0.5;"/>
	  			</g> -->
			        
			 	<g id="e_stars" transform="rotate({{ 180 }})">
			    	<title>Stars</title>
			    	<g>
			    		{% for star in stars %}
			    		<g id="e_{{ star.name }}">
			    			<title>{{ star.name }}</title>
			    			<use x="{{ star.cx }}" 
			    				 y="{{ star.cy }}" 
			    				 width="10" height="10"  
			    				 xlink:href="#star" 
			    				 style="fill:{{ stroke_color }};"/>
						</g>
			    		{%- endfor %}
			    	</g>
			    </g>

			    <g id="e_planets" transform="rotate(180)">
			    	<title>Planets</title>  
			    	<circle id="e_moon" cx="-7.364113659953016" cy="42.85753770184805" r="2" style="fill:white; stroke:black;" />
			    	<circle id="e_sun"  cx="-16.6800678669703"  cy="-98.01520714423019" r="2" style="fill:yellow; stroke:black;"/> -->
			    </g>
			</g>
		</symbol>

		<symbol id="hawaii" viewbox="0 0 1440.9541 935.18799"> <!--  width="20" height="12.980121851209557"> -->
			<defs>
				<style type="text/css">
					#rect7 {
						fill: none !important;
						stroke: none !important;
					}
					#polygon9,
					#polygon11,
					#polygon13,
					#polygon15,
					#polygon17,
					#polygon19,
					#polygon21,
					#polygon23,
					#polygon25,
					#polygon27,
					#polygon29,
					#polygon31,
					#polygon33,
					#polygon35,
					#polygon37,
					#polygon39 {
						stroke: {{ stroke_color }} !important;
						stroke-width: 0.5 !important;
						vector-effect: non-scaling-stroke;
						fill: {{ fill_color }} !important;
					}
					#line43,
					#line45,
					#line47 {
						display: none;
					}
				</style>
			</defs>

			<g id="map">
	    		{{ include_file('USA_Hawaii_location_map.svg') }}
	    	</g>
		</symbol>
	</defs>
	

	    <g id="meridian">
			<title>Meridian</title>
			<line class="axis" x1="0" y1="{{ RCapricorn }}" x2="0" y2="{{ -RCapricorn }}" />
		</g>

		<g id="grid">
			<use x="-100" y="-100" width="200" xlink:href="#plateGrid" />
		</g>

		<g id="tropics">
			<title>Tropic Circles</title>
			<g>
				<title>Tropic of Capricorn</title>
				<circle class="tropics" cx="0" cy="0" r="{{ RCapricorn }}"/>
			</g>
			<g>
				<title>Equator</title>
				<circle class="tropics" cx="0" cy="0" r="{{ REquator }}" />
			</g>
			<g>
				<title>Tropic of Cancer</title>
				<circle class="tropics" cx="0" cy="0" r="{{ RCancer }}" />
			</g>
		</g>

		<g id="rightHorizon">
			<title>Right Horizon</title>
			<line class="axis" x1="{{ -RCapricorn }}" y1="0" x2="{{ RCapricorn }}" y2="0" />
		</g>

		<g id="description">
			<title>Hawaiian Islands</title>
			<desc>Latitude and inset map of the Hawaiian Islands.</desc>
			<use x="0" y="0" xlink:href="#hawaii" width="40"/>
			<text class="description" 
				  x="0" y="{{ -15 + RCapricorn - 19 }}" 
				  text-anchor="middle">
				{{ place_name }}
	    		<tspan x="0" dy="1.2em">{{ latitude }} </tspan>
	    	</text>
	    </g>

		<g id="eclipticCircle" class="draggable" 
		   transform="translate(100, 100)" 
		   data-dragstyle="rotate" 
		   data-fixed-x="100"
		   data-fixed-y="100">
	    	<g transform="translate(-100, -100)" >
				<use x="0" y="0" width="200" xlink:href="#ecliptic" transform="rotate(0)"/>
			</g>
		</g>

	</g>


</svg>
<!-- </body>
</html>